# =================================================
# PYTHON
# =================================================
__pycache__/
*.py[cod]
*$py.class

# =================================================
# ENTORNOS VIRTUALES
# =================================================
venv/
.env/
env/

# =================================================
# JUPYTER NOTEBOOK
# =================================================
.ipynb_checkpoints/

# =================================================
# DATASETS CRUDOS PESADOS
# =================================================
data/raw/
data/*.csv
data/*.xlsx
data/*.json

# ⚠️ IMPORTANTE:
# NO ignorar parquet procesado
!data/*.parquet

# =================================================
# STREAMLIT
# =================================================
.streamlit/

# =================================================
# CONFIGURACIONES IDE
# =================================================
.vscode/
.idea/

# =================================================
# ARCHIVOS DEL SISTEMA
# =================================================
.DS_Store
Thumbs.db

# =================================================
# LOGS
# =================================================
*.log

# =================================================
# CACHE
# =================================================
.cache/
.pytest_cache/

# =================================================
# TEMPORALES
# =================================================
*.tmp
*.bak