# =================================================
# PYTHON
# =================================================
__pycache__/
*.py[cod]
*$py.class

# =================================================
# ENTORNOS VIRTUALES
# =================================================
venv/
.env/
env/

# =================================================
# JUPYTER NOTEBOOK
# =================================================
.ipynb_checkpoints/

# =================================================
# DATASETS Y ARCHIVOS PESADOS
# =================================================

data/*.csv
data/*.xlsx
data/*.json

# =================================================
# STREAMLIT
# =================================================
.streamlit/

# =================================================
# CONFIGURACIONES IDE
# =================================================
.vscode/
.idea/

# =================================================
# ARCHIVOS DEL SISTEMA
# =================================================
.DS_Store
Thumbs.db

# =================================================
# LOGS
# =================================================
*.log

# =================================================
# CACHE
# =================================================
.cache/
.pytest_cache/

# =================================================
# NOTEBOOKS EXPORTADOS
# =================================================
notebooks/*.html
notebooks/*.pdf

*.tmp
*.bak